/*body {
    background-image: url("images/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFDBAA;
    position: relative;
}*/

body{
    margin: 0;
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.outer{
    display: flex;
    height: 100vh;
    width:  100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 225, 239);
}

.inner-outer{
    background-color:hsl(0, 0%, 100%);
    height: 50%;
    width: 15%;
    box-shadow: 4px 2px 8px rgba(0,0,0,0.15);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner{
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 1fr; 
    display: inline-block;
    padding-top: 5%;
}

.qr-code{
    width: 90%;
    border-radius: 20px;
}

.text-1{
    padding-left: 1%;
    font-weight: 700;
}

.text-2{
    color: hsl(212, 45%, 89%);
    padding-left: 2%;
    font-weight: 400;
}
